#hero {
    height: 70vh;
    /* background: url("assets/image/hero-bg.jpg") top center; */
    /* background-color: #149ddd;  */
    /* background-size: cover; */
    display: grid;
    grid-template-columns: 100px 2fr 1fr;
    grid-template-rows: 1fr;
    
    
  }
  
  #hero:before {
    content: "";
    /* z-index: 1; */
  }
  
  #hero .hero-container {
    grid-column: 2/3;
    z-index: 2;
    align-self: center;
    justify-self: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  
  #hero h2 {
    margin: 0 0 10px 0;
    font-size: 34px;
    font-weight: 700;
    line-height: 56px;
    color: var(--primary-color);
  }
  
  #hero p {
    color: var(--primary-color);
    /* margin-bottom: 50px; */
    font-size: 16px;
    font-family: "Poppins", sans-serif;
  }
  
  #hero p span {
    color: var(--primary-color);
    padding-bottom: 4px;
    letter-spacing: 1px;
    border-bottom: 3px solid var(--primary-color);
  }
  
  @media  Only screen and (max-width:700px) {
    #hero {
        height: auto;
        padding-top: 100px;
    }
    #hero .hero-container {
        grid-column: 1/4; 
        z-index: -1; 
      }
      #hero  .space-hero {
        background-color: #131A21;
        width: 100px;
        height: 100px;
        display: none ; 
      }
    
}