
.siderbar-fixed .wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.siderbar-fixed .wrapper .profile {
    background-color: var(--primary-color);
    padding: 10px;
    display: flex;
    flex: 0 0 255px; 
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: background-color 0.5s ease;

}
.siderbar-fixed .wrapper .profile:hover {
    background-color: #fff;
    transition: background-color 0.5s ease;

}
.siderbar-fixed .wrapper .profile:hover > .info {
    color: var(--primary-color);
    transition: background-color 0.5s ease;
}

.avatar-wapper {
    padding: 10px;
    border-radius: 50%;
    background-color: var(--primary-color-soft);
    display: flex;
    align-items: center;
    justify-content: center;

}


img.avatar {
    width: 120px;
    height: 120px;
}

.avatar-circler {
    border-radius: 50%;
}

.profile .info {
    font-size: x-large;
    font-weight: 800;

}

.profile .link {
    width: 100%;
    font-size: 12px;
    color: #fff;
    display: flex;
    justify-content: center;
    /* margin: 10px; */
}

.profile .link .social {
    background-color: #272829;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    color: #fff;
    padding: 5px;
    animation: 2ms all;

}

.nav-menu{
    flex:1;
    scrollbar-width: none;
    overflow-y: scroll;
    /* background-color:var(--white-dark-color) ;  */

    /* flex: 0 0 calc(100vh -255px);  */
    
    /* height: calc(260px -100vh) !important; */

}
.nav-menu::-webkit-scrollbar {
    display: none;
}

.nav-menu ul {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px; 
    gap: 15px;
    font-size: smaller;
}

.nav-menu ul li {
    /* margin: 5px 0; */
    background-color: var(--primary-color-soft);
    /* opacity: 0.8; */
    padding: 10px;
    border-radius: 15px;
}

.nav-menu ul a {
    color: var(--white-dark-color) ; ;

}

@media  only screen and (max-width:1000px) {
    .siderbar-fixed {
        display: none !important;
    }
}