:root{
    --space:10px;
    --primary-color:#131A21;
    --primary-color-soft:#121f2c;
    --primary-theme-switch:#121f2c6c;
    --white-dark-color:#fff;
    --size-nav:250px


}
::after,
::before,
* {
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    text-decoration-color: var(--white-dark-color);

}

/** 

     Outils 
     
**/
.w-space-10 {
    width: 100px;
    height: 0px;
}
.w-space-20{
    width: 200px;
    height: 0px;
}
.w-space-30{
    width: 300px;
    height: 0px;
}
.w-space-40{
    width: 400px;
    height: 0px;
}
.w-space-50{
    width: 500px;
    height: 0px;
}
.h-space-10 {
    width: 0px;
    height: 100px;
}
.h-space-20{
    width: 0px;
    height: 200px;
}
.h-space-30{
    width: 0px;
    height: 300px;
}
.h-space-40{
    height: 400px;
    width:  0px;
}
.h-space-50{
    height: 500px;
    width: 0px;
}
.w-space-expanded {
    width: 100%;
}
.h-space-expanded {
    height:100%;
}

/** 

   Padding element  
   Padding left | rigth :5px {class="px-5"}
   Padding top | bottom :5px {class="py-5"}

 **/
.px-0 {
    padding-left: 0;
    padding-right: 0;
}
.px-5 {
    padding-left: 5px;
    padding-right: 5px;
}
.px-10 {
    padding-left: 10px;
    padding-right: 10px;
}
.px-15 {
    padding-left: 15px;
    padding-right: 15px;
}
.px-20 {
    padding-left: 20px;
    padding-right: 20px;
}
.px-25 {
    padding-left: 25px;
    padding-right: 25px;
}
.px-30 {
    padding-left: 30px;
    padding-right: 30px;
}
.px-35 {
    padding-left: 35px;
    padding-right: 35px;
}
.px-40 {
    padding-left: 40px;
    padding-right: 40px;
}
.px-50 {
    padding-left: 50px;
    padding-right: 50px;
}
.py-0 {
    padding-top: 0;
    padding-bottom: 0;
}

.py-5 {
    padding-top: 5px;
    padding-bottom: 5px;
}
.py-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}
.py-15 {
    padding-top: 15px;
    padding-bottom: 15px;
}
.py-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}
.py-25 {
    padding-top: 25px;
    padding-bottom: 25px;
}
.py-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}
.py-35 {
    padding-top: 35px;
    padding-bottom: 35px;
}
.py-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}
.py-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

/* **
  Flex Box
** */
.row{
    display: flex;
    flex-direction: row;
}
.column{
    /* padding: 0; */
    display: flex;
    flex-direction: column;
}
.align-item-center {
 align-items: center;
}
.align-item-start {
 align-items: flex-start;
}
.align-item-end {
   align-items: flex-end; 
}
.justify-content-center {
 justify-content: center;
}
.justify-content-end {
    justify-content: flex-end;
}
.justify-content-start {
    justify-content: flex-start;
}
.space-between {
    justify-content: space-between;
}
.space-around {
    justify-content: space-around;
}
.space-evenly {
    justify-content: space-evenly;
}

body {
    display: flex;
    flex-direction: row;
    font-family: "Open Sans", sans-serif;
    color: var(--primary-color);
    scrollbar-width: none;
    height: 100vh;



}
body::-webkit-scrollbar {
    display: none;
}

.body-active .siderbar-fixed {
    position: fixed; 
   
    width: var(--size-nav);
   
    display: flex;
    flex-direction: column;
    color: var(--white-dark-color);
    
}
.scafold {

  position: absolute;
  left: var(--size-nav);
  width: calc(100% - var(--size-nav)); 
  display: flex;
  flex-direction: column;
  gap: 30px;

}
.font-12 {
 font-size: 12px;
}
.font-14 {
 font-size: 14px;
}

.badge-contenaire{
    left: var(--size-nav);
    right: 0;
    position: fixed;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.badge-theme{
    color:  var(--primary-color-soft);
    padding: 10px;
    border-radius: 15px;
    font-size: large;
    background-color: var(--white-dark-color);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 10px rgba(201, 197, 197, 0.5);   
}
#drawer{
    visibility: hidden;
}

.ex-section{
    display: flex;
    padding: 50px;
    gap: 20px; 
}
/*** Experience ***/
.ex-ul{
    font-size: 12px;
    display: flex;
    gap: 50px;
    flex-direction: column;
}
.ex-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.ex-headers{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.ex-headers:first-child{
    padding-left: 10px;
    border-left-width: 0.5px;
    border-left-color: #bcbec0;
    border-left-style: solid;
}
.ex-headers-item {
    flex-direction: column;
    display: flex;
    gap: 10px;
    justify-content: center;
}
.ex-body{
    padding-right: 30px;
}
#particles-js {
    width: 100%;
    height: 100vh;
    position: fixed;
    overflow: hidden;
}

.swiper {
  width: 100%;
  height: 150px;
  display: flex;
  height: 150px;
}
.bg-red {
    background-color: rgb(180, 80, 80);
}
.bg-green {
    background-color: rgb(104, 211, 104);
}
.bg-blue {
    background-color: rgb(96, 96, 221);
}
.swiper-slide {
  background-position: center;
  background-size: cover;
}
.card {
    display: flex;height: 100%; 
    justify-content: center;
    align-items: center;
    gap:10px;
    padding:10px;
    /* background-color: #fff; */
    box-shadow: 0px 2px 10px rgba(201, 197, 197, 0.5);
    border-radius: 10px;
    
    
}

.card:hover {
    box-shadow: none;

}

.card img {
    width:300px;
    height: 250px;
}


.skill {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 40px;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.card-skill {
    border-color: #bec3c9;
    border-width: 1px;
    border-style: dashed;
    flex:1;
    display: flex;
    padding: 20px;
    font-size: 12px;
    border-radius: 5px;
    gap: 10px;
    flex-direction: column;

} 
div.card-skill:hover{
    border-color: #c0c024;

}


body.active .siderbar-fixed{
    display: block !important;
    z-index: 300;
    background-color: #fff;
    transition: all 1s ease;


     
 }
 body.active .badge-contenaire {
    left: var(--size-nav);
    transition: all 0.5s ease;


 }
footer {
    background-color: var(--primary-color-soft);
    height: 80px;
    display: flex;
    flex-direction: column;
    color: #fff;
    gap: 10px;
    align-items: center;
    justify-content: center;
    
}
hr {
    width: 80%;
    background-color: #a5a3a3;
    height: 0.5px;
}
label {
    font-size: 12px;
}
.input-div {
    width: 70%;

}
input {
    
    
    margin-top: 10px;
    border-radius: 10px;
    font-size: 12px;
    outline: none;
    border: solid 5px #0c192410;
    padding: 10px;
    box-shadow: 0px 2px 10px rgba(201, 197, 197, 0.5);

    
    
    /* width: 100%; */
    /* height: 50px; */
} 
input:placeholder-shown {
    color: #b5babe;
 
}
textarea {
    min-height: 150px;
    max-height: 250px;
    min-width: 100%;
    max-width: 100%;
    margin-top: 10px;
    border-radius: 10px;
    /* color: #b5babe; */
    outline: none;
    /* border: solid 0.5px #b5babe18; */
    border: solid 5px #0c192410;
    width: 100%;
    padding: 10px;
    box-shadow: 0px 2px 10px rgba(201, 197, 197, 0.5);


    /* height: 50px; */
}
.form-div {
    gap: 35px;
} 
.input-div button {
    width: 200px;
    padding: 20px;
    color: var(--primary-color-soft);
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 2px 10px rgba(201, 197, 197, 0.5);
    transition: background 1s ease-in;

}
.input-div button:hover {
    background-color: #f3f2f2;
}
/* ---------------------------------

            Profile information

-------------------------------------*/

@media  Only screen and (max-width:1000px) {
    .scafold {
        position: absolute;
        left: 0;
        width: 100%;
      }
    .badge-contenaire {
        left: 0;
    }
    #drawer{
        /* transform: all 2sm; */
        visibility: visible;
    }
    
}


@media  Only screen and (max-width:700px) {
    .skill {
    grid-template-columns: repeat(1,1fr);

    }
    .ex-section{
        flex-direction: column;
        padding: 20px;
    }
}

/* Main */

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
