.space-1 {
    display: block !important;
    height: calc(var(--space)*1) !important;
    background-color:inherit  !important;
}

.space-2 {
    display: block !important;
    height: calc(var(--space) * 2) !important;
    background-color:inherit  !important;

}

.space-4 {
    display: block !important;
    height: calc(var(--space)*3) !important;
    background-color:inherit  !important;
}

.space-3 {
    display: block !important;
    height: calc(var(--space)*4) !important;
    background-color:inherit  !important;
}

.space-5 {
    display: block !important;
    height: calc(var(--space)) !important;
    background-color:inherit  !important;

}
.bg-soft-green{
    background-color: #CAEB80 !important;
}
.bg-soft-blue{
    background-color: #B2DFDB !important;
}
.bg-soft-violet{
    background-color: #E897D9 !important;
}
.bg-soft-yelow{
    background-color: #DFD5B2 !important;
}